<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 3cae7ac6d3b1de187e6d1f0c624d19622ffd9d32
body 
{
    background: linear-gradient(to bottom, #f0f0f0, #d9d9d9);
}
<<<<<<< HEAD
=======
=======
>>>>>>> 558cbebd47dcba7f5f334126a4893ffd66657feb
>>>>>>> 3cae7ac6d3b1de187e6d1f0c624d19622ffd9d32
.titulo
{
    font-family: 'Arial', sans-serif;
    font-size: 36px; 
    color: #4A90E2; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
    padding: 10px; 
    border-bottom: 3px solid #E1E1E1; 
    transition: color 0.3s;
}
.titulo:hover
{
    color: #D0021B;
}
.subtitulo
{
    font-family: 'Verdana', sans-serif; 
    font-size: 24px; 
    color: #7F8C8D; 
    text-align: center; 
    margin: 10px 0; 
    padding: 5px; 
}
.texto
{
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin: 15px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.info
{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 3cae7ac6d3b1de187e6d1f0c624d19622ffd9d32
    background-color: #d5d9da;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(204, 190, 190, 0.1);
    padding: 50px;
    margin: 20px auto;
    max-width: 1000px;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.contenedor 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 450px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.imagen 
{
    max-width: 150px;
    max-height: 100%; 
    margin-right: 15px;
    border-radius: 4px;
}
<<<<<<< HEAD
=======
=======
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    color: #333;
}
>>>>>>> 558cbebd47dcba7f5f334126a4893ffd66657feb
>>>>>>> 3cae7ac6d3b1de187e6d1f0c624d19622ffd9d32
/* Slider */
.slider 
{
    z-index: -1000;
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper 
{
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
    height: 450px;
}
.swiper-slide 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slidetext 
{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.subsubtitulo
{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 2px solid #007BFF;
    text-transform: uppercase;
    letter-spacing: 1px;
}